{% extends 'base.html' %}

{% block title %}Удаление книг{% endblock %}

{% block body %}
<div class="books-container">
    {% for book in books %}
    <div class="book-card">
        {% if book.image %}
        <img src="/img_book/{{ book.id }}" alt="{{ book.title }}" class="book-image" style="width: 160px;">
        {% endif %}
        <p><b>{{ book.title }}</b></p>
        <p>{{ book.author }}</p>
        {% if book.id in unavailable_ids %}
        <p style="color: rgb(224, 8, 8);">Нельзя удалить (Книга в активном пользовании)</p>
        {% else %}
        <button onclick="deleteBook({{ book.id }})" class="delete-button">Удалить</button>
        {% endif %}
    </div>
    {% endfor %}
</div>

<style>
    .books-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 30px;
    }

    .book-card {
        background: #E6CCB2;
        padding: 16px;
        border-radius: 12px;
        width: 200px;
        text-align: center;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    .delete-button {
        background-color: #d9534f;
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 8px;
        cursor: pointer;
    }

    .delete-button:hover {
        background-color: #c9302c;
    }
</style>

<script>
    async function deleteBook(bookId) {
        if (!confirm("Удалить эту книгу?")) return;
        const response = await fetch("/admin/deletebook", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ book_id: bookId })
        });

        const result = await response.json();
        alert(result.message);
        if (response.ok) window.location.reload();
    }
</script>
{% endblock %}
