{% extends 'base.html' %}

{% block title %}
News
{% endblock %}

{% block body %}
<div class='container mt-5'>
    <h1>news</h1>
    {% if articles|length > 0 %}
    {% for el in articles %}
    <div class="alert alert-info">
        <h2>{{ el.title }}</h2>
        <p>{{ el.intro }}</p>
        <p><b>Date: {{ el.date }}</b></p>
        <a href="/feed/{{ el.id }}" class="btn btn-warning">Check Article</a>
    </div>
    {% endfor %}
    {% else %}
    <p>No articles</p>
    {% endif %}
</div>
{% endblock %}