{% extends 'base.html' %}

{% block title %}
Книги
{% endblock %}

{% block body %}
<div class="welcome-box">
    <h1>Добро пожаловать, {{ user_name }}!</h1>
</div>


{% if session['is_admin'] %}
<div class="admin-buttons">
    <a href="/admin/addbook" class="admin-button">Добавить книгу</a>
    <a href="/admin/notifications" class="admin-button">Уведомления</a>
    <a href="/admin/activebooks" class="admin-button">Активные книги</a>
    <a href="/admin/deletebook" class="admin-button danger">Удалить книгу</a>
</div>
{% endif %}


<style>
    .welcome-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto 0 auto;
        width: 40%;
        min-width: 280px;
        max-width: 800px;
        background: #E6CCB2;
        border: 4px solid #ddb892;
        border-radius: 16px;
        box-shadow: 0 2px 14px rgba(0, 0, 0, 0.04);
        font-size: 14px;
        font-family: ALS Sirius, Arial, Helvetica Neue, Helvetica, sans-serif;
        color: #000000;
        text-align: center;
    }

    .books-container {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding: 20px;
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .book-card {
        /* width: 200px; */
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #E6CCB2;
        border-radius: 10px;
        background-color: #E6CCB2;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .book-image {
        max-width: 100%;
        margin-bottom: 10px;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .book-card p {
        word-wrap: break-word;
        /* Перенос текста, если он слишком длинный */
        overflow-wrap: break-word;
        /* Для современных браузеров */
        margin: 0;
        font-size: 14px;
        text-align: left;
        width: 191px;
        /* Текст выровнен по левому краю */
    }
    .admin-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
    flex-wrap: wrap;
    }

    .admin-button {
    background-color: #B08968;
    color: black;
    padding: 0.75rem 1.5rem;
    font-size: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
    }

    .admin-button:hover {
    background-color: #DDB892;
    }

    .admin-button.danger {
    background-color: #d9534f;
    color: white;
    }

    .admin-button.danger:hover {
    background-color: #c9302c;
    }
</style>

<div class="books-container">
    {% for book in books %}
    <div class="book-card">
        <a href="/book_detail/{{ book.id }}">
            {% if book.image %}
            <img style="width: 200px; border-radius: 4px;" src="img_book/{{ book.id }}" alt="{{ book.title }}"
                class="book-image">
            {% endif %}
            <p style="margin: 0; padding-bottom: 6px; font: 14px ALS Sirius; font-weight: 550;">{{ book.title }}</p>
            <p style="margin: 0; font: 14px ALS Sirius; color: #767479;">{{ book.author }}</p>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}