<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- <script language="JavaScript" type="text/javascript" src="jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="sprinkle.js"></script> -->
    <script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Регистрация</title>


</head>

<body>

    <div class="container">

        <form method="post" autocomplete="on">
            <div class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="126" height="126" viewBox="0 0 512 512">
                    <path
                        d="M64,480H48a32,32,0,0,1-32-32V112A32,32,0,0,1,48,80H64a32,32,0,0,1,32,32V448A32,32,0,0,1,64,480Z" />
                    <path d="M240,176a32,32,0,0,0-32-32H144a32,32,0,0,0-32,32v28a4,4,0,0,0,4,4H236a4,4,0,0,0,4-4Z" />
                    <path d="M112,448a32,32,0,0,0,32,32h64a32,32,0,0,0,32-32V418a2,2,0,0,0-2-2H114a2,2,0,0,0-2,2Z" />
                    <rect x="112" y="240" width="128" height="144" rx="2" ry="2" />
                    <path
                        d="M320,480H288a32,32,0,0,1-32-32V64a32,32,0,0,1,32-32h32a32,32,0,0,1,32,32V448A32,32,0,0,1,320,480Z" />
                    <path
                        d="M495.89,445.45l-32.23-340c-1.48-15.65-16.94-27-34.53-25.31l-31.85,3c-17.59,1.67-30.65,15.71-29.17,31.36l32.23,340c1.48,15.65,16.94,27,34.53,25.31l31.85-3C484.31,475.14,497.37,461.1,495.89,445.45Z" />
                </svg>
            </div>
            <h1>Регистрация</h1>
            <div class="input-group">
                <label for="name">Имя</label>
                <input autocomplete="on" type="text" id="name" name="name" required placeholder="Введите ваше имя">
            </div>
            <div class="input-group">
                <label for="email">Электронная почта</label>
                <input type="email" id="email" name="email" required placeholder="Введите ваш Email">
            </div>
            <div class="input-group">
                <label for="email">Номер телефона</label>
                <input type="tel" id="number" name="number" required placeholder="Введите ваш номер телефона">
            </div>
            <div class="input-group">
                <label for="email">Привязка к Телеграмму</label>
                <input type="text" id="telegramm_connect" name="telegramm_connect" value="@" required
                    placeholder="Введите ваше имя пользователя">
            </div>

            <div class="input-group">
                <label for="password">Пароль</label>
                <input class="password field" type="password" id="password" name="password" required
                    placeholder="Введите ваш пароль">
            </div>
            <div class="input-group">
                <label for="confirm-password">Подтверждение пароля</label>
                <input class="confirm_password field" type="password" id="confirm_password" name="confirm_password"
                    required placeholder="Подтвердите ваш пароль">

            </div>
            <div id="output"></div>
            <button id="registerButton" type="button">Зарегистрироваться</button>
            <p>Уже есть аккаунт? <a href="/login">Войти</a></p>


        </form>
    </div>


    <script>
        // Функция для вывода ошибки
        function showError(input_element, message) {
            // Создаем ошибку и ее свойства
            let error = document.createElement("label");
            // Задаем параметры для элемента ошибки 
            error.className = "error";
            error.style.color = "red";
            error.style.paddingLeft = "6px";
            error.style.paddingTop = "6px";
            error.style.fontSize = "12px";
            error.innerHTML = message;

            // Удаляем ошибки на страничке, все прошлые
            const all_errors = input_element.parentElement.querySelectorAll(".error");
            all_errors.forEach(element => element.remove());

            // Вставляем ошибку над неправильнно веденном поле, новую
            input_element.parentElement.insertBefore(error, input_element);
        }

        // Валидация почты
        function validateEmail(email) {
            const regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            return regex.test(email);
        }

        // Валидация номера
        function validatePhoneNumber(number) {
            const regex = /^\+?[7-8]([0-9]{10})$/;
            return regex.test(number);
        }

        // Отправление даты на сервер flask
        async function sendData(data) {
            try {
                // Осуществляем отправку через fetch
                const response = await fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json' // Для JSON данных
                    },
                    body: JSON.stringify(data) // Преобразуем данные в JSON
                });

                // Если статус ошибки 500, то выдается соответствующая ошибка
                if (response.status === 500) {
                    con
                    sole.log("Ошибка сервера! Статус 500");
                }
                // Если ошибка 409, то такой пользователь уже иметтся в БД
                else if (response.status === 409) {
                    // Обрабатываем ошибку для регистрации с имеющимся пользователем в бд
                    document.getElementById("output").textContent = "Аккаунт с этой почтой или номером телефона уже зарегестрирован";
                    const result = await response.json();
                    console.log("Не успешно, ошибка в регистрации, 409:", result);
                }
                // Если ошибка 400, то ошибка в передачи данных
                else if (response.status === 400) {
                    const result = await response.json();
                    console.log("Не успешно, ошибка в передачи данных, 400:", result);
                }
                // В остальных случаях все успешно
                else {
                    const result = await response.json(); // Парсим JSON ответ
                    console.log('Успешно:', result);
                    window.location.href = "/login";  // Перенаправляем на страничку /login
                }
            }
            catch (error) {
                // Выдачи ошибки
                console.error('Ошибка:', error);
            }
        }

        // Функция для нажатия на кнопку
        async function btnClick() {
            // Достаем нужные поля ввода и их значения
            const name = document.getElementById("name").value.trim();
            const email = document.getElementById("email").value.trim();
            const number = document.getElementById("number").value.trim();
            const telegramm_connect = document.getElementById("telegramm_connect").value.trim();
            const password = document.getElementById("password").value.trim();
            const passwordConfirm = document.getElementById("confirm_password").value.trim();

            // Обнуляем ошибку для регистрации(с имеющимся пользователем в бд)
            const divOutput = document.getElementById("output");
            divOutput.textContent = "";

            // Маленькая проверка
            console.log(name, email, number, telegramm_connect, password, passwordConfirm);

            // Удаляем ошибки на страничке
            const errors = document.querySelectorAll(".error");
            errors.forEach(error => error.remove());

            // Для проверки правильности ввода каждого поля
            is_valid = true;

            if (password !== passwordConfirm) {
                showError(document.getElementById("confirm_password"), "Пароли не совпадают");
                console.log("Пароли не совпадают");
                is_valid = false;
            }
            if (!validateEmail(email)) {
                showError(document.getElementById("email"), "Неккоректный email");
                console.log("Неккоректный email");
                is_valid = false;
            }
            if (!validatePhoneNumber(number)) {
                showError(document.getElementById("number"), "Некорректный номер телефона");
                console.log("Некорректный номер телефона");
                is_valid = false;
            }
            if (is_valid === true) {
                // Создаем переменную со всеми данными
                const myData = {
                    "name": name,
                    "email": email,
                    "number": number,
                    "telegramm_connect": telegramm_connect,
                    "password": password,
                };
                // Передаем все данные в функцию
                sendData(myData);
            }
        }
        document.getElementById("registerButton").addEventListener("click", btnClick);

    </script>
</body>



</html>